html,
body {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #008cba;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar .create {
  color: #fff;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 2rem;
}

.navbar-brand:hover,
.create:hover {
  color: #fff;
}

.form-container {
  width: 400px;
  margin: 20px auto;
}

.task-container {
  text-align: center;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
